@import '../../assets/style/variables.scss';

.track-item {
    margin-bottom: 8px;
    padding: 12px 8px;
    border-radius: 8px;
    transition: background-color .3s linear color .3s ;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    div {
        display: flex;
        gap: 12px;

        .track-index {
            color: $light-grey;
        }

        .track-name {
            margin: 0;
            text-align: left;
            color: black;
        }
    }

    .play-icon {
        opacity: 0;
        transition: opacity .3s;
        color: $primary;
    }

    &.is-playing {
        background-color: rgba(0, 0, 0, 0.044);
        .track-name {
            font-weight: bold;
            color: $primary;
        }
        .play-icon {
            opacity: 1;
            color: $primary;
        }
    }
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.044);
        .play-icon {
            opacity: 1;
        }
    }
}

.line {
    border: solid 0.5px rgb(236, 236, 236);
    margin-bottom: 8px;
}