@import '../../assets/style/design-tokens.scss';

.track-item {
    margin-bottom: 8px;
    padding: 12px 8px;
    color: gray;
    border-radius: 8px;
    transition: background-color .3s color .3s;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .track-name {
        margin: 0;
    }

    .play-icon {
        opacity: 0;
        transition: opacity .3s;
    }

    &:hover {
        color: $primary;
        background-color: rgba(0, 0, 0, 0.044);
        .play-icon {
            opacity: 1;
        }
    }

}