.card-list {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1px) and (max-width: 900px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}
