@import '../../assets/style/variables.scss';

.card-list {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: $lg-breakpoint) and (max-width: $xl-breakpoint) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {
    .card-list {
        grid-template-columns: 1fr 1fr;
        width: max-content;
    }
}

@media (min-width: 1px) and (max-width: $md-breakpoint) {
    .card-list {
        width: 100%;
        display: flex;
        gap: 20px;
    }
}
