@import '../../assets/style/variables.scss';

.search-bar {
    background-color: white;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
    padding: 10px 15px;
    border-radius: 50px;
    max-width: 500px;
    width: calc(100% - 30px);
    box-shadow: 0px 10px 20px #00000014;

    .search-icon {
        color: $light-grey;
    }

    input[type='search'] {
        outline: unset;
        width: 100%;
        height: 100%;
        font-size: 24px;
        border: none;

        &::placeholder {
            color: $light-grey;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    button[type='submit'] {
        height: 100%;
        border-radius: 50px;
        border: none;
        background-color: $primary;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 0 15px;
    }
}

@media (min-width: 1px) and (max-width: $md-breakpoint) {
    .search-bar {
        width: calc(100% - 20px);
        max-width: unset;
        padding: 8px 8px 8px 12px;
        gap: 10px;
        input[type='search'] {
            outline: unset;
            width: 100%;
            height: 100%;
            font-size: 16px;
            border: none;
        }
    }
}
