.app {
    text-align: center;
    padding: 40px 100px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background: -webkit-linear-gradient(
            to right,
            #fff1f1,
            #ec008c
        );
        background: linear-gradient(
            to right,
            #fff1f1,
            #ffc8e9
        );
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        transform: scaleX(1.5);
    }

    .app-content {
        z-index: 1;
        .title {
            text-align: center;
            margin-bottom: 100px;
        }
    }

}
