@import '../../assets/style/design-tokens.scss';

.album-card {
    width: 200px;
    height: 280px;
    border-radius: 12px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.197);
    position: relative;
    border: solid 2px transparent;
    cursor: pointer;
    bottom: 0;
    transition-duration: .3s;

    img {
        width: 195px;
        height: 195px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
    }

    .album-title {
        font-size: 20px;
        margin: 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        width: max-content;
    }

    .album-artist {
        font-size: 16px;
        margin: 0;
        color: $primary;
    }

    .album-year {
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        color: gray;
        width: 100%;
    }

    &:hover {
        bottom: 10px;
        border-color: $light-grey;
    }
}
