
.tooltip {
    width: max-content;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
}