@import '../../assets/style/variables.scss';

.audio-player {
    $player-button-width: 30px;
    $sound-button-width: 20px;
    $player-color: rgb(248, 248, 248);
    $space: 4px;
    
    border-radius: 8px;
    padding: 12px;
    background-color: $player-color;
    margin-top: 8px;
    
    .controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    .track-name {
        margin: 0 0 8px 4px;
        color: gray;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        width: max-content;
        font-size: 12px;
    }

    .player-button, .sound-button {
        background-color: transparent;
        border: none;
        color: grey;
        cursor: pointer;
        transition: color .3s;
        &:hover {
            //color: gray;
        }
        
    }
    .timeline {
        -webkit-appearance: none;
        width: calc(100% - ($player-button-width + $sound-button-width + $space));
        height: .5em;
        background-color: #e5e5e5;
        border-radius: 5px;
        background-size: 0% 100%;
        background-image: linear-gradient($primary, $primary);
        background-repeat: no-repeat;
        margin-right: var(--space);

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            opacity: 0;
            transition: all .1s;
            background-color: rgb(182, 182, 182);
            border: solid 3px $player-color;

            &:hover {
                //background-color: #943f65;
            }
        }

        &:hover::-webkit-slider-thumb {
            opacity: 1;
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }
}